
{{#partial "content"}}

    <h1>{{squad.name}}</h1>

    <p>Objective: {{squad.objective}}</p>

    <h4>Members:</h4>

    <div class="heroes-container">

    {{#if heroesInSquad}}
            {{#each heroesInSquad }}
                <div class="card">
                    <a><b>{{ name }}</b></a>
                    <!--style="display: -webkit-flex; -webkit-flex-direction: row; display: flex;flex-direction: row;"-->
                    <div class="card-body">
                        <div><img class="avatar" src="/images/heroes/default.png"></div>
                        <div>
                            Overall: {{ overallRating }}<br>
                            Special Power: {{ specialPower }}<br>
                            Weakness: {{ weakness }}<br>
                            <a href="/squads/{{squad.id}}/drop/{{id}}"><button class="btn btn-danger">Drop From squad</button></a>
                        </div>
                    </div>

                </div>
            {{/each}}
        {{else}}
            <p>No Members Yet!</p>
        {{/if}}

    </div>



{{/partial}}

{{#partial "footer-content"}}
    <h4>Recruit Members:</h4>
    <table>
        <thead>
        <th>Name</th>
        <th>Overall</th>
        </thead>
        {{#if heroes}}
            {{#each heroes }}
            <tr>
                <td><a><b>{{ name }}</b></a></td><td>{{ overallRating }}</td> <td><a href="/squads/{{squad.id}}/add/{{id}}"><button class="btn btn-primary">Add to {{squad.name}}</button></a></td>
            </tr>
            {{/each}}
        {{else}}
            <p>No Members Yet!</p>
        {{/if}}
    </table>
{{/partial }}

{{> layout.hbs}}


<style>


.heroes-container{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;

}
.card{
    margin:20px;
    padding:20px;
    width:350px;
    font-size:12px;
}

.card-body{
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}
.avatar{
padding-right:20px;
height:80px;
}
</style>