{{#partial "content"}}

    <h1>{{squad.name}}</h1>

    <p>Objective: {{squad.objective}}</p>

    <h1>MEMBERS:</h1>





{{/partial}}

{{#partial "footer-content"}}

    <ul>
        {{#if heroes}}
            {{#each heroes }}
            <li><a><b>{{ name }}</b></a> - Overall: {{ overallRating }}</li>
            {{/each}}
        {{else}}
            <li>No Members Yet!</li>
        {{/if}}
    </ul>
{{/partial }}

{{> layout.hbs}}