{{#partial "content"}}

    <h1>SELECT SQUAD</h1>

    {{#if squads}}
        {{#each squads }}
            <div class="card">
                <img src="/images/squads/{{id}}.jpeg">
                <b>{{ name }}</b><br>
                <p><b>Mission: </b>{{ objective }}</p>
                <a href="/squads/{{id}}">View Members</a></div>
        {{/each}}
    {{else}}
        <p>No Squads Yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}